/*这个文件里面放的是 首页的样式*/

.main {
    width: 980px;
    height: 455px;
    margin-left: 219px;
    margin-top: 10px;
}

.focus {
    position: relative;
    width: 721px;
    height: 455px;
    background-color: purple;
    overflow: hidden;
}

.focus ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 600%;
}

.focus ul li {
    float: left;
}

.arrow-l,
.arrow-r {
    display: none;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-family: 'icomoon';
    font-size: 18px;
    z-index: 2;
}

.arrow-r {
    right: 0;
}

.circle {
    position: absolute;
    bottom: 10px;
    left: 50px;
}

.circle li {
    float: left;
    width: 8px;
    height: 8px;
    /*background-color: #fff;*/
    border: 2px solid rgba(255, 255, 255, 0.5);
    margin: 0 3px;
    border-radius: 50%;
    /*鼠标经过显示小手*/
    cursor: pointer;
}

.current {
    background-color: #fff;
}

.main .focus .prev,
.next {
    position: absolute;
    /* 绝对定位的盒子垂直居中 */
    top: 50%;
    margin-top: -15px;
    /* 加了绝对定位的盒子可以直接设置高度和宽度 */
    width: 20px;
    height: 30px;
    background: rgba(0, 0, 0, .3);
    text-align: center;
    line-height: 30px;
    color: #fff;
    text-decoration: none;
}

.prev {
    /* 把框框变成圆角矩形 */
    left: 0;
    /* border-radius: 15px; */
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.next {
    /* 如果一个盒子既有left属性也有right属性，则默认会执行 left属性 同理  top  bottom  会执行 top */
    right: 0;
    /* border-radius: 15px; */
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.promo-nav {
    position: absolute;
    bottom: 15px;
    left: 50%;
    margin-left: -35px;
    width: 70px;
    height: 13px;
    /* background-color: pink; */
    background: rgba(255, 255, 255, 0.5);
    /* 圆角矩形 */
    border-radius: 7px;
}

.promo-nav li {
    float: left;
    width: 8px;
    height: 8px;
    background-color: #fff;
    /* li框框变原点 */
    border-radius: 50%;
    margin: 3px;
}

/* 不要忘记选择器权重的问题 */
.promo-nav .selected {
    background-color: #ff5000;
}

.newflash {
    /* float: right; */
    width: 250px;
    height: 455px;
}

.news {
    height: 165px;
    border: 1px solid #ccc;
}


.news .news_hd {
    height: 33px;
    /* 只要下边框 点线 */
    border-bottom: 1px dotted #ccc;
    line-height: 33px;
    padding: 0 15px;
}

.news .news_hd h5 {
    float: left;
    font-size: 14px;
    font-weight: 400;
}

.news_hd .more {
    float: right;

}

.news_hd .more::after {
    content: '\e920';
    font-family: 'icomoon';
}

.news_bd ul li {
    position: relative;
    height: 24px;
    line-height: 24px;
    padding-left: 20px;
    /* 超出的文字用省略号显示 */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.news_bd ul li a {
    font-size: 12px;
    color: #666;
    text-decoration: none;
}

.news_bd ul li a:hover {
    text-decoration: underline;
}

.news_bd ul {
    margin-top: 7px;
}

.lifeservice {
    overflow: hidden;
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice ul li {
    position: relative;
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
}

.lifeservice ul li i {
    /* 转成行内块元素 上下关系 */
    display: inline-block;
    width: 24px;
    height: 28px;
    margin-top: 12px;
    background: url(../images/icons.png) no-repeat -19px -15px;
}

.lifeservice ul li em {
    position: absolute;
    top: 0px;
    right: 0px;
}

.bargin {
    margin-top: 5px;
}

.recom {
    height: 163px;
    margin-top: 12px;
    background-color: #ebebeb;
}

.recom_hd {
    float: left;
    height: 163px;
    width: 205px;
    background-color: #5c5251;
    text-align: center;
    padding-top: 30px;
}

.recom_bd {
    float: left;
}

.recom_bd ul li {
    position: relative;
    float: left;
}

/* 强制要求图片一样大 */
.recom_bd ul li img {
    width: 248px;
    height: 163px;
}

/* 选前3个 */
.recom_bd ul li:nth-child(-n+3)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 10px;
    width: 1px;
    height: 145px;
    background-color: #ddd;
}

.box_hd {
    height: 30px;
    border-bottom: 2px solid #c81623;
}

.box_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
}

.tab_list {
    float: right;
    line-height: 30px;
}

.tab_list ul li {
    float: left;
}

.tab_list ul li a {
    margin: 0 15px;
}

.floor .w {
    margin-top: 30px;
}

.box_bd {
    height: 361px;
}

/* 子代选择器 */
.tab_list_item>div {
    float: left;
    /* 高度不能继承 */
    height: 361px;
}

.col_210 {
    width: 210px;
    background-color: #f9f9f9;
}


.col_210 ul {
    padding-left: 12px;
}

.col_210 ul li {
    float: left;
    width: 85px;
    height: 34px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    line-height: 33px;
    margin-right: 10px;
}

.col_329 {
    width: 329px;
}

.col_221 {
    width: 221px;
    border-right: 1px solid #ccc;
}

.col_219 {
    width: 219px;
}

.bb {
    /* a属于行内元素 如果包含有宽度的盒子，a需要转为块级元素 */
    display: block;
    border-bottom: 1px solid #ccc;
}